@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
.logoEsta {
  /* background-color: blue; */
  padding-left: 1rem;
}

.header {
  background-color: white;
  z-index: 10;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar__header {
  font-size: 1rem;
  text-align: center;
  background-color: white;
  z-index: 6000;
}

.cards-containerLarge {
  margin: 2rem;
  display: flex;
  display: grid;
  grid-gap: 7rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-top: 80px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin-bottom: 280px;
}

.mainObras {
  margin-bottom: 100px;
}

@media screen and (min-width: 500px) {
  .main {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .main {
    margin-bottom: 30px;
    margin-top: -200px;
  }
  .cards-container {
    z-index: 0;
    padding-top: 10px;
  }
  .card__img {
    opacity: 0;
    z-index: -10;
  }
  .card {
    opacity: 1;
    z-index: 1;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  border: none;
  background-color: white;
}

.navbar {
  padding-right: 2rem;
  margin-right: 50px;
  margin-left: 50px;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
}
.navbar__menu-btn1 {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
}
.navbar__nav-links-container {
  color: green;
}
.navbar__logo {
  z-index: 100;
  align-items: center;
  justify-items: center;
  padding-bottom: 0.3rem;
  height: 3rem;
  width: 6rem;
  display: flex;
  justify-content: space-evenly;
  object-fit: cover;
}
.navbar__user-avatar {
  margin-right: 1rem;
  height: 3rem;
  margin: auto;
}
.navbar__nav-link {
  color: rgb(0, 0, 0);
  background-color: white;
  text-decoration: none;
  font-family: "Century Gothic";
  font-weight: 300;
}
.navbar__nav-link:hover {
  color: rgb(112, 111, 111);
  border-bottom: 1px solid rgb(112, 111, 111);
}
.navbar__nav-item {
  border: 0;
  color: black;
  padding-right: 1rem;
  text-align: left;
  float: left;
  padding: 1rem;
}
.navbar .navContainer {
  padding-right: 15rem;
}
.navbar .user-navbar__user-avatar {
  height: 4rem;
}
.navbar .togle {
  display: none;
}
.navbar .fa-bars {
  opacity: 0;
  font-size: 30px;
  color: rgb(63, 63, 63);
}

:root {
  --color_primario: #8527c3fd;
  --color_primario_suave: #8527c383;
  --color_blanco: #fff;
  --altura_header: 80px;
  --padding_left_right: 2rem;
  --ancho_maximo: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

.navbar1 {
  display: flex;
  width: min(1200px, 100%);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--padding_left_right);
}

.menu_hamburguesa {
  display: none;
  z-index: 100;
}

.menu_hamburguesa:checked + .ul_links {
  height: calc(100vh - var(--altura_header));
}

.fa-bars {
  background-color: rgb(116, 105, 97);
}

.logo {
  color: white;
}

.list_icon {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.fa-bars {
  opacity: 1 !important;
  background-color: white;
}

.ul_links {
  float: none;
  content: "";
  position: absolute;
  padding-top: -50px !important;
  width: 100%;
  text-decoration: none;
  position: absolute;
  top: var(--altura_header);
  left: -2rem;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 100 !important;
  transition: all 0.2s ease-out;
}

.link__nav-item {
  padding: 1.25rem 1rem;
  text-align: center;
}
.link__nav-item:not(:last-child) {
  border-bottom: 2px solid rgb(156, 156, 156);
}

@media screen and (max-width: 500px) {
  .header {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .footerLine {
    margin: 10px;
  }
  .ul_links {
    background-color: white;
    z-index: 1000 !important;
  }
  .fa-bars {
    opacity: 1;
    margin-right: 30px;
  }
  .navbar {
    height: 90px;
  }
  .navbar1 {
    margin-left: 0px;
    margin-right: 10px;
  }
  .navbar__logo {
    z-index: 100;
    padding-left: -30px;
    padding-bottom: 0.3rem;
    height: 5rem;
    width: 4rem;
    display: flex;
  }
  .toogle {
    display: block;
    color: black;
  }
  .list_icon {
    padding-right: 10px;
    width: 60px;
  }
  .navbar {
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    transition: 0.3s;
    margin-left: 5px;
    margin-right: 15px;
    padding-right: 10px;
  }
  .navbar__nav-item {
    display: flex;
    margin: center;
  }
  .navbar__nav-links-container {
    flex-direction: column;
    transition: all 0.2s ease-out;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: aqua;
    color: brown;
    text-align: center;
    transition: 0.4s;
    text-align: center !important;
  }
}
@media screen and (min-width: 500px) {
  .label_hamburguesa {
    display: none;
  }
  .ul_links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 2rem;
  }
}
@media screen and (min-width: 500px) {
  .ul_links {
    position: static;
    width: auto;
    height: 50px !important;
    flex-direction: row;
    gap: 2rem;
  }
}
.footerLine {
  border-top: solid 1px grey;
  padding-top: 15px;
  margin-top: 280px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: white;
  justify-content: space-between;
  width: 100%;
}
.footer__linkIG {
  color: #535353;
  cursor: pointer;
}
.footer__copyrigth {
  width: 400px;
}
.footer__copy {
  color: #535353;
  text-decoration: none;
  font-family: "Century Gothic";
  font-weight: 100;
  font-size: 15px;
}
.footer__logoF {
  padding-bottom: 0.3rem;
  height: 3.5rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  object-fit: cover;
}
.footer__contact-item {
  list-style: none;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-color: #fefeff;
  border-radius: 50%;
  display: flex;
  border: 1px solid rgb(145, 143, 143);
  align-items: center;
  justify-content: center;
  margin: 2px;
}
.footer__contact-item:hover {
  background-color: black;
}
.footer__column {
  justify-content: space-between;
  padding-bottom: 1rem 1.5rem;
}
.footer__columnF {
  justify-content: space-between;
}
.footer__contact-container {
  padding-left: 50px;
}
.footer__contact-containerL {
  padding-right: 100px;
  padding-left: 100px;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  text-decoration: none;
}
.footer__contact-link:hover {
  font-weight: 300;
}
.footer__contact-icon:hover {
  color: white;
}
.footer__contact-icon {
  font-size: 1.75rem;
  text-decoration: none;
  opacity: 1;
}
.footer__contact-icon--facebook {
  text-decoration: none;
  color: #333333;
}
.footer__contact-icon--instagram {
  color: #333333;
}
.footer__contact-icon--linkedin {
  color: #333333;
}
.footer__contact-icon--phone {
  color: #333333;
}
.footer__contact-icon--location {
  color: #003fee;
}
.footer__contact-icon--email {
  color: #333333;
}
.footer__contact-icon--home {
  color: rgb(6, 125, 180);
}

.footer__contact-icon--phone:hover {
  color: white;
}

.footer__contact-icon--email:hover {
  color: white;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 700px) {
  .footer__contact-containerL {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0;
  }
  .footer__contact-link {
    padding: 0.1rem;
  }
  .footer__column {
    padding: 0.3rem 1.5rem;
  }
  .footer__company-name {
    font-size: 1.3rem;
  }
  .footer__copyrigth {
    font-size: 3rem;
    color: rgb(196, 40, 40);
    background-color: #003fee;
    text-decoration: none;
    z-index: 100;
  }
  .footer__copy {
    font-size: 10px;
    margin-left: 5px;
  }
  .footer__logoF {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: space-evenly;
    object-fit: cover;
  }
}
.cards-container {
  display: grid;
  justify-content: center;
  align-content: center;
  border: none;
  grid-gap: 20px;
  margin-top: 300px;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-left: 100px;
  margin-right: 100px;
  z-index: 0;
  padding-top: 300px;
  margin-top: 10px;
}

.card {
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  border: none;
  cursor: pointer;
}
.card__cont {
  border: 1px solid blue;
}
.card__header {
  height: 200px;
  width: 200px;
  overflow: hidden;
  opacity: 1;
  position: relative;
  cursor: pointer;
  z-index: 100;
}
.card__text {
  color: black;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Century Gothic";
  font-weight: 100;
  font-size: 0.7rem;
  opacity: 0;
}
.card__textContainerFirst {
  position: relative;
  height: 200px;
  width: 200px;
}
.card__textContainer {
  position: relative;
  height: 200px;
  width: 200px;
}
.card__imgContainer {
  height: 200px;
  width: 200px;
  opacity: 1;
  position: absolute;
  top: 1%;
  left: 1%;
  opacity: 1;
  border: none;
}
.card__imgCont {
  height: 14.5rem;
  width: 14.5rem;
  top: 4%;
  left: 4%;
  opacity: 1;
  border: none;
  transform: translate(-5%, -5%);
}
.card__textContainerFront {
  height: 200px;
  width: 200px;
  opacity: 0;
  position: absolute;
  top: 1%;
  left: 1%;
}
.card__textFront {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Century Gothic";
  font-weight: 100;
  font-size: 0.7rem;
}
.card__textInside {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-family: "Century Gothic";
  font-weight: 530;
  font-size: 0.9rem;
  opacity: 0;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.card__img {
  width: 15.5rem;
  height: 15.5rem;
  object-fit: cover;
  position: relative;
  border: none;
  opacity: 1;
  filter: grayscale(100%);
  z-index: 0;
}
.card__imgC {
  width: 15.5rem;
  height: 15.5rem;
  object-fit: cover;
  position: relative;
  border: none;
  opacity: 1;
}
.card__imgLarge {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.greyOut {
  filter: grayscale(0%);
}

.show1 {
  opacity: 1;
}

.cardLarge {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid rgb(255, 255, 255);
}
.cardLarge__headerLarge {
  height: 20rem;
  width: 30rem;
  overflow: hidden;
}

.lightboxContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  border: none;
  grid-gap: 10px;
  margin-top: 100px;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(510px, 1fr));
  margin-left: 160px;
  margin-right: 160px;
}
.lightboxContainer .obrasImage {
  width: 500px;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  border: none;
  cursor: pointer;
}
.lightboxContainer .container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 8px 12px black;
}
.lightboxContainer .container img {
  width: 100%;
  height: 100%;
}
.lightboxContainer img, .lightboxContainer .contenido {
  height: 100%;
  width: 100%;
}
.lightboxContainer .hide {
  display: none;
}
.lightboxContainer .show {
  display: block;
}
.lightboxContainer .contenedor {
  width: 40%;
  height: 40%;
}

@media screen and (max-width: 500px) {
  .cards-container {
    grid-gap: 30px;
  }
}
.whatsapp-container {
  /* margin: 15px; */
  position: fixed;
  right: 15px;
  bottom: 0;
  /* background-color: black; */
  color: dodgerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}

.go-top {
  color: rgb(0, 0, 0);
  font-size: 36px;
  background-color: aqua;
}

.logoWP {
  height: 5rem;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}

.logoWP:hover {
  transform: scale(1.2);
  transition: 0.3s;
}