@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
.logoEsta {
  /* background-color: blue; */
  padding-left: 1rem;
}

.navbar__header {
  font-size: 1rem;
  text-align: center;
}

.cards-containerLarge {
  margin: 2rem;
  display: flex;
  display: grid;
  grid-gap: 7rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-top: 80px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  border: none;
}

.navbar {
  padding-right: 2rem;
  margin-right: 130px;
  margin-left: 157px;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__nav-links-container {
  padding-right: 3rem;
  list-style: none;
  border: none;
  position: absolute;
  top: 25px;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  justify-items: center;
  margin-right: 3rem;
  object-fit: cover;
}
.navbar__logo {
  height: 4rem;
  z-index: 100;
  align-items: center;
  justify-items: center;
}
.navbar__user-avatar {
  margin-right: 1rem;
  height: 3rem;
  margin: auto;
}
.navbar__nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Century Gothic";
  font-weight: 300;
}
.navbar__nav-link:hover {
  color: rgb(112, 111, 111);
}
.navbar__nav-item {
  border: 0;
  color: black;
  padding-right: 1rem;
  text-align: left;
  float: left;
  padding: 1rem;
}

.navContainer {
  padding-right: 15rem;
  background-color: aqua;
}

.user-navbar__user-avatar {
  height: 4rem;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 208, 208);
  color: #535353;
  justify-content: space-between;
  width: 100%;
  margin-top: 260px;
  bottom: 0;
  padding-right: 5rem;
}
.footer__linkIG {
  color: #535353;
  cursor: pointer;
}
.footer__logo {
  display: flex;
  justify-content: center;
  margin: auto;
}
.footer__contact-item {
  list-style: none;
}
.footer__column {
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #535353;
}
.footer__contact-link:hover {
  font-weight: 300;
}
.footer__contact-icon {
  font-size: 1.75rem;
}
.footer__contact-icon--facebook {
  color: #38529a;
}
.footer__contact-icon--instagram {
  color: #f14d59;
}
.footer__contact-icon--linkedin {
  color: #0077b6;
}
.footer__contact-icon--phone {
  color: rgba(16, 224, 16, 0.5607843137);
}
.footer__contact-icon--location {
  color: #003fee;
}
.footer__contact-icon--email {
  color: rgb(255, 254, 254);
}
.footer__contact-icon--home {
  color: rgb(6, 125, 180);
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 500px) {
  .footer__contact-link {
    padding: 0.1rem;
  }
  .footer__column {
    padding: 0.3rem 1.5rem;
  }
  .footer__company-name {
    font-size: 1.3rem;
  }
  .footer__copyrigth {
    font-size: 0.7rem;
  }
  .footer__logo {
    padding-bottom: 0.3rem;
    height: 5rem;
    width: 12rem;
    display: flex;
    justify-content: space-evenly;
    object-fit: cover;
  }
}
.cards-container {
  display: grid;
  justify-content: center;
  align-content: center;
  border: none;
  grid-gap: 10px;
  margin-top: 300px;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-left: 160px;
  margin-right: 160px;
}

.card {
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  border: none;
  cursor: pointer;
}
.card__cont {
  border: 1px solid blue;
}
.card__header {
  height: 200px;
  width: 200px;
  overflow: hidden;
  opacity: 1;
  position: relative;
  cursor: pointer;
  z-index: 100;
}
.card__text {
  color: black;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Century Gothic";
  font-weight: 100;
  font-size: 0.7rem;
  opacity: 0;
}
.card__textContainerFirst {
  position: relative;
  height: 200px;
  width: 200px;
}
.card__textContainer {
  position: relative;
  height: 200px;
  width: 200px;
}
.card__imgContainer {
  height: 200px;
  width: 200px;
  opacity: 1;
  position: absolute;
  top: 1%;
  left: 1%;
  opacity: 1;
  border: none;
}
.card__imgCont {
  height: 15rem;
  width: 15rem;
  top: 0%;
  left: 0%;
  opacity: 1;
  border: none;
}
.card__textContainerFront {
  height: 200px;
  width: 200px;
  opacity: 0;
  position: absolute;
  top: 1%;
  left: 1%;
}
.card__textFront {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Century Gothic";
  font-weight: 100;
  font-size: 0.7rem;
}
.card__textInside {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-family: "Century Gothic";
  font-weight: 500;
  font-size: 1rem;
  opacity: 0;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.card__img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  position: relative;
  border: none;
  opacity: 1;
  filter: grayscale(100%);
}
.card__imgLarge {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.greyOut {
  filter: grayscale(0%);
}

.show1 {
  opacity: 1;
}

.cardLarge {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid rgb(255, 255, 255);
}
.cardLarge__headerLarge {
  height: 20rem;
  width: 30rem;
  overflow: hidden;
}

.lightboxContainer {
  padding-top: 80px;
}

.obrasImage {
  width: 30rem;
  height: 25rem;
  object-fit: cover;
}

.container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 8px 12px black;
}

.container img {
  width: 100%;
  height: 100%;
}

img, .contenido {
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.contenedor {
  width: 40%;
  height: 40%;
}

.whatsapp-container {
  /* margin: 15px; */
  position: fixed;
  right: 15px;
  bottom: 0;
  /* background-color: black; */
  color: dodgerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}

.go-top {
  color: rgb(0, 0, 0);
  font-size: 36px;
  background-color: aqua;
}

.logoWP {
  height: 5rem;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}

.logoWP:hover {
  transform: scale(1.2);
  transition: 0.3s;
}