.main2 {
    background-color: rgb(235, 234, 234);
    // margin-top: 50px;
    // padding: 1.5rem 0;
    // padding-bottom:11.3rem;
    min-height: 100vh;

    min-height: 100vh;

    padding-top: 50px;
    

}

// .main3 {
//     background-color: rgb(235, 234, 234);
//     // margin-top: 10px;
//     padding: 1.5rem 0; 
//     padding-bottom:23.2rem;
//     display: flex;
//     min-height: 100vh;
    
// }


.formContact { 
    background-color:rgb(255, 255, 255);
    padding:15px;
    height: 470px;
    width: 700px;
    margin-top: 70px;

    // border-radius: 10px;
    &__Nombre {
        // background-color: chocolate;
        border: none;
        border-bottom:solid 1px; 

        margin-bottom: 25px;
        width:670px;
        // border-radius: 5px;
        // height: 35px;
        // border: none;
        // color: grey;
        // padding-left: 5px;

    }
    &__Email {
        border: none;
        border-bottom:solid 1px; 
        margin-bottom: 25px;
        width:670px;
        // background-color: chocolate;
        // color: darkgreen;

        // border-radius: 5px;
        // height: 35px;
        // border: none;
        // padding-left: 5px;
    }
    &__Consults{
        margin-bottom: 10px;
        border: none;
        border-bottom:solid 1px; 
        width:670px;
        // border-radius: 5px;
        height: 250px;
        padding-left: 5px;
        // background-color: rgb(241, 240, 240);

    }
}

.Contact-Container{
    display: flex;
    flex-direction: column;
    // background-color: brown;
    align-items: center;
    justify-content: center;
    margin: auto;


}

.contactText{
    width:670px;

}
.Contact {
    
    
    // flex-direction: row;


    justify-content:end;
    padding: 30px;
    padding-top: 20px;



    &__IframeContact{  
        width:700px;
        height:470px;
    }
}

.ul_linksContact{
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    // gap: 2rem;
    margin-left: -30px;
}


.btn1 {
    background-color:  #dfdfdf ;
    border: none;
    color: rgb(17, 17, 17);
    height: 2rem;
    width: 6rem;
    cursor: pointer;
    // border-radius: 0.5rem;
}
.btn1:hover{
    background-color: rgb(36, 36, 36);
    color:  #ffffff;
    font-weight: 600;
}

.li_linksContact{
    padding-top: 10x;
    border-bottom: rgb(168, 168, 168) dotted 0.5px;
    font-size: 15px,

}



// &__contact-item {
//     list-style: none;
// }


@media screen and (max-width: 500px) {

    // .Contact-Container{
    //     margin-bottom: 30px;
    // }
    .contactText{
        width:300px;
        margin-top: 50px;
    
    }
    .formContact-Container{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .footerLineCorta2{
        padding-top: 5px!important;
        margin-top: 75px!important;
    }
    .Contact-Container{
        display: flex;
        flex-direction: column;
        margin-bottom: 0rem;
    }
    .main2 {
        background-color: rgb(235, 234, 234);
        margin-top: 10px;
        padding-bottom:3rem;

    }
    .formContact { 
        justify-content: center;
        height: 450px;
        width: 340px;

        // background-color: chartreuse;

  
    
        &__Nombre {
            width:310px;
        }
        &__Email {
            width:310px;
        }
        &__Consults{
            width:310px;
    
        }
    }
    .logoAbascay{
        height: 60px;
    }
    .Contact {
        justify-content: center;
        padding: 15px;
        justify-content: center;
        flex-direction: row; 
        &__IframeContact{  
            justify-content: center;
            
            width:340px;
            height:350px;
        }
        
    }
    .main2 {
        display:inline-block;
        flex-direction:row;
        width:100%;
        // width: 100%;
}   
}

