.logoEsta{
    /* background-color: blue; */
    padding-left: 1rem;
}

.navbar{
    &__header {
        // text-transform: uppercase;
        font-size: 1rem;
        text-align: center;
    }
}

.cards-container {
    margin: 2rem;
    display: flex;
    display: grid;
    grid-gap:1px;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 5fr));
    grid-template-columns: repeat(auto-fill,minmax(210px, 1fr));
    margin-top: 150px;

}

.cards-containerLarge {
    margin: 2rem;
    display: flex;
    display: grid;
    grid-gap: 7rem;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 5fr));
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    margin-top: 80px;

}