


.footerLine{
    border-top:solid 1px grey; 
    margin-top: 260px;


}
.footer {
    // width: 100%;
    // margin-left: 100px;
    // margin-right: 100px;
    display: flex;
    flex-direction: column;
    background-color:white;
    color: white;
    justify-content: space-between;
    // padding-right:5rem; 

    width: 100%;
    // position: absolute;
    margin-top: 5px;
    bottom: 0;
    // padding-right: 6rem;
    // padding-left: 6rem;

    &__linkIG {
        color: #535353;
        cursor: pointer;
    }
    &__copyrigth{
        width: 400px;
    }

    &__copy{
        color:#535353;
        text-decoration: none;
        font-family: 'Century Gothic';
        font-weight: 100;
        font-size: 15px;

        
    }

    &__logoF {

        padding-bottom: 0.3rem;
        height: 3.5rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        justify-items: center;
        object-fit: cover;


    }

    &__contact-item {
        list-style: none;
        width: 40px;
        height: 40px;
        background-size: cover ;
        background-color: #fefeff;
        border-radius: 50%;
        display: flex;
        border: 1px solid rgb(145, 143, 143);
        align-items: center;
        justify-content: center;
        margin: 2px;

    }

    &__contact-item:hover{
        background-color:black;

    }

    &__column {
        justify-content: space-between;
        padding-bottom: 1rem 1.5rem;
        
    }
    &__columnF{
        justify-content: space-between;
        // padding-bottom: 1rem 1.5rem;
        // background-color: #003fee;
        
    }

    &__contact-container{
        padding-left:150px;
        // margin-bottom:150px;
    }
    &__contact-containerL{
        padding-right:150px;
        // margin-bottom:150px;
    }


    &__contact-link {
        color: white;
        padding: .25rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        color: #ffffff;
        text-decoration: none;
    }

    &__contact-link:hover {
        font-weight: 300;


    }

    &__contact-icon:hover {
        color: white
    }


    &__contact-icon {
        font-size: 1.75rem;
        text-decoration:none;
        opacity: 1;
        


        &--facebook {
            text-decoration:none;

            color: #333333;

            // margin: 0 auto;
        }

        &--instagram {
            color: #333333;

        }

        &--linkedin {
            color: #333333;
        }

        &--phone {
            color:#333333;
            
        }

        // &--phone:hover{
        //     box-shadow: 0 0 5px #10e0108f;
        //     transition: all 0.5s ease;
        // }



        &--location {
            color: #003fee;
        }

        &--email {
            color: rgb(255, 254, 254);
        }

        &--home {
            color: rgb(6, 125, 180);
        }
    }
}


@media screen and (min-width: 600px) {
    .footer {
        flex-direction: row;
    }



}

@media screen and (max-width: 500px) {
    .footer {
        &__contact-link {

            padding: .1rem;
        }

        &__column {
            padding: .3rem 1.5rem;
        }

        &__company-name {
            font-size: 1.3rem;
        }

        &__copyrigth {
            font-size: 3rem;
            color: rgb(196, 40, 40);
            background-color: #003fee;
            text-decoration: none;
            z-index: 100;
        }

        &__logoF {

            padding-bottom: 0.3rem;
            height: 5rem;
            width: 12rem;
            display: flex;
            justify-content: space-evenly;
            object-fit: cover;


        }
    }
}