.header {
    position: fixed;
    width: 100%;
    top: 0;
    border: none;
    background-color: white;
    

}

.navbar{

    padding-right: 2rem;
    margin-right:50px;
    margin-left: 50px;
    height: 70px;
    background-color:white;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;

    &__menu-btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 1;
    }
    &__menu-btn1 {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 1;
    }
    // &__menu-btn:checked ~ &__nav-links-container {
    //     height: calc(100vh - 50px);
// }
    &__nav-links-container{
        color: green;
        
    }
    // &__nav-links-container {
    //     // display: none;
    //     padding-right: 3rem;
    //     list-style: none;
    //     border: none;
    //     position: absolute;
    //     top: 25px;
    //     // background-color: green($color: #000000);

    //     width: 100%;
    //     height: 0;
    //     // overflow: hidden;
    //     // transition: all .2s ease-out;
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     justify-content: right;
    //     justify-items: center;
    //     margin-right: 3rem;
    //     object-fit: cover;
    //     // margin-left: auto;


    //     // color: red;
    // }

    &__logo{
        // margin-left: 3rem !important;
        // margin-top: 1rem;
        // height: 4rem;
        z-index: 100;
        align-items: center;
        justify-items: center;

        padding-bottom: 0.3rem;
        height: 3rem;
        width: 6rem;
        display: flex;
        justify-content: space-evenly;
        object-fit: cover;

        // display: flex;
        // justify-content: center;
        // margin: auto; 
        // padding-left: 5rem;
        // margin-left: 10rem;
    }
    &__user-avatar{
        margin-right: 1rem;
        height: 3rem;
        margin: auto;
    }
    &__nav-link{
        color: rgb(0, 0, 0);
        background-color: white;
        text-decoration: none;
        font-family: 'Century Gothic';
        font-weight: 300;
    }
    &__nav-link:hover{
        color: rgb(112, 111, 111);
        border-bottom: 1px solid rgb(112, 111, 111);

    }
    &__nav-item{
        // padding: 1.25rem 1rem;
        border: 0;
        // width: 7rem;
        color: black;
        padding-right: 1rem;
        text-align: left;
        float: left;
        padding: 1rem;
        

    }


.navContainer{
    padding-right: 15rem;
    // background-color: aqua;
   
}

.user-navbar{
    &__user-avatar{
        height: 4rem;
    }
}

.togle  {
    display: none;


    
}

.fa-bars{
    opacity: 0;

   font-size: 30px;
   color: rgb(63, 63, 63)
}
}

:root {
    --color_primario: #8527c3fd;
    --color_primario_suave: #8527c383;
    --color_blanco: #fff;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

// .header {
//     background-color: var(--color_primario);
// }
ol, ul{
    list-style: none;
}
.navbar1 {
    display: flex;
    // height: 100%;
    width: min(1200px,100%);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}

.menu_hamburguesa{
    display: none;   
    // position:fixed;
    z-index: 100;
}

.menu_hamburguesa:checked + .ul_links{
    height: calc(100vh - var(--altura_header));
    // position:fixed;
}

.logo {
    color: white;
}
.label_hamburguesa {
}
.list_icon {
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.navbar__nav-links-container {
}
.navbar__nav-item {
}
.navbar__nav-link {

}
.ul_links{
    float: none;
    content: '';
    position:absolute;
    padding-top: -50px!important;


    // top:80px!important;
    width: 100%;
    text-decoration: none;
    // background-color:var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    // text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // height: 200px;
    gap: 3rem;
    z-index: 100!important;
    transition: all .2s ease-out;
}

.link{
    &__nav-item {
        padding: 1.25rem 1rem;
        text-align: center;

        &:not(:last-child) {
            border-bottom: 2px solid rgb(156, 156, 156);

        }
    }
}






@media screen and (max-width: 500px){
    .header{
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .footerLine{
        margin: 10px;
    }
    .ul_links{
        background-color:white;
        z-index: 1000!important;
    }

    .fa-bars{
        opacity: 1;
        margin-right: 30px;


    }
    .navbar{
        height: 90px;
    }
    .navbar1{
        margin-left: 0px;
        margin-right: 10px;
    }

    .navbar__logo{
        z-index: 100;
        padding-left: -30px;

        padding-bottom: 0.3rem;
        height: 5rem;
        width: 4rem;
        display: flex;

    }
    .toogle {
        display: block;
        color: black;
    }
    .list_icon{
        padding-right: 10px;
        width:60px;
    }
    .navbar{
        // position: absolute;
        width: 100vw;
        top:0;
        left: 0;
        right: 0;
        background:white;
        transition: .3s;
        // height: 400px;
        margin-left: 5px;
        margin-right: 15px;
        padding-right: 10px;

    }
    .navbar__nav-item{
        display: flex;
        margin: center;

    }
    .navbar__nav-links-container{
        // display: block;
        // display:none;
        flex-direction: column;
        transition: all .2s ease-out;
        align-items: center;
        justify-content: center;
        // width: fit-content;
        // margin: 100px auto;
        width: 500px;
        height: 500px;
        background-color: aqua;
        color: brown;
        text-align: center;
        transition: .4s;
        text-align: center!important;
    }
    // .card__img {
    //     display: none;

    // }
    // .card__imgCont{
    //     display: none;

    // }
    // .card{
    //     display: none;
    //     opacity: 0;
    // }


    
}

@media screen and (min-width:500px) {
    .label_hamburguesa{
        display: none;

    }
    .ul_links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }

}

@media screen and (min-width:500px){
    .ul_links{
        position: static;
        width: auto;
        height: 50px!important;
        flex-direction: row;
        gap: 2rem;


}}