
.card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: none;
    &__header {
        height: 200px;
        // background-color: orange;
        overflow: hidden;
        border: 1px solid rgba(255, 0, 0,0);
        opacity: 1;
        position: relative;
        cursor: pointer;

    }

    
    &__text{
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        font-family: 'Century Gothic';
        font-weight: 100;
        font-size: 0.7rem;
        opacity: 0;

    }

    &__textContainer{
        height: 200px;
        width: 300px;
        opacity: 0;
        position: absolute;
        top: 1%;
        left: 1%;

    }
    &__textContainerFront{
        height: 200px;
        width: 300px;
        opacity: 1;
        position: absolute;
        top: 1%;
        left: 1%;

    }

    &__textFront{
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Century Gothic';
        font-weight: 100;
        font-size: 0.7rem;
    }

    &__textContainer:hover{
        opacity: 0.9;
        transition: 0.5s;

    }
    &__textInside{
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Century Gothic';
        font-weight: 100;
        font-size: 0.7rem;


    }




    &__img {
        width: 20rem;
        height:15rem;
        object-fit: cover;
        position: relative;
  
        
    }

    &__imgLarge {
        width: 30rem;
        height:20rem;
        object-fit: cover;
        
    }
}

.cardLarge{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid rgb(255, 255, 255);
    &__headerLarge {
        height: 20rem;
        width: 30rem;
        // background-color: orange;
        overflow: hidden;
 
    }

}

.lightboxContainer{
    padding-top: 80px;
}

.obrasImage{
    width: 30rem;
    height:25rem;
    object-fit: cover;
}

.container{
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.container img{
    width: 100%;
    height: 100%;
}

