.cards-container {


    // margin: 1rem;
    // display: flex;
    display: grid;
    justify-content: center;
    align-content: center;
    border: none;
    grid-gap:20px;
    margin-top: 300px;
    align-items:center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    margin-left: 160px;
    margin-right: 160px;
    // margin-left: 100px;

}


.card {
    // display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.1rem;
    border: none;
    cursor: pointer;
    

    
    &__cont{
        border: 1px solid blue;
    }


    &__header {
        height: 200px;
        width: 200px;
        overflow: hidden;
        opacity: 1;
        position: relative;
        cursor: pointer;
        z-index: 100;

    }
 
    

    
    &__text{
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        font-family: 'Century Gothic';
        font-weight: 100;
        font-size: 0.7rem;
        opacity: 0;

    }
    &__textContainerFirst{
        position: relative;
        height: 200px;
        width: 200px;
    }
    &__textContainer{
        position: relative;
        height: 200px;
        width: 200px;

    }

    

    &__imgContainer{
        height: 200px;
        width: 200px;
        opacity: 1;
        position: absolute;
        top: 1%;
        left: 1%;
        opacity: 1;
        border: none;
    }

    &__imgCont{
        
        height: 15rem;
        width:15rem;
     
        // position: relative;
        // margin: -3px;
        top: 0%;
        left:0%;
        opacity: 1;
        border: none;
    }


    &__textContainerFront{
        height: 200px;
        width: 200px;
        opacity: 0;
        position: absolute;
        top: 1%;
        left: 1%;

    }

    &__textFront{
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Century Gothic';
        font-weight: 100;
        font-size: 0.7rem;
    }


    &__textInside{
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        font-family: 'Century Gothic';
        font-weight: 500;
        font-size:1rem;
        opacity: 0;
        text-transform: uppercase;
        transition: all 0.5s ease;
    }





    &__img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        position: relative; 
        border: none;
        opacity: 1;  
        filter: grayscale(100%);
        
    }


    &__imgLarge {
        width: 20rem;
        height:20rem;
        object-fit: cover;
        
    }
}


.greyOut{
    filter: grayscale(0%);

}

.show1{
    opacity:1;
}

.cardLarge{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid rgb(255, 255, 255);
    &__headerLarge {
        height: 20rem;
        width: 30rem;
        // background-color: orange;
        overflow: hidden;
 
    }

}

.lightboxContainer{
    padding-top: 80px;
}

.obrasImage{
    width: 30rem;
    height:25rem;
    object-fit: cover;
}

.container{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    // margin: 100px auto;
    // border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.container img{
    width: 100%;
    height: 100%;
}

img, .contenido{
    height: 100%;
    width: 100%;
}
.hide{
    display: none;
}

.show{
    display: block;
}

.contenedor{
    width: 40%;
    height: 40%;
}

