
.card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: none;
    &__header {
        height: 200px;
        width: 200px;
        // background-color: orange;
        overflow: hidden;
        border: 1px solid rgba(255, 0, 0,0);
        opacity: 1;
        position: relative;
        cursor: pointer;
        z-index: 100
    }
    // &__header:hover {
    //     opacity:0;
    // }
    

    
    &__text{
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        font-family: 'Century Gothic';
        font-weight: 100;
        font-size: 0.7rem;
        opacity: 0;

    }
    &__textContainerFirst{
        position: relative;
        height: 200px;
        width: 200px;
    }
    &__textContainer{
        position: relative;
        height: 200px;
        width: 200px;
        color: red!important;
        

        // z-index: 100;
    }
    // &__textContainer:hover{
    //     opacity: 1 !important;
    //     transition: .7s;
    // }

    

    &__imgContainer{
        height: 200px;
        width: 200px;
        opacity: 1;
        position: absolute;
        top: 1%;
        left: 1%;
        opacity: 1;
    }


    &__textContainerFront{
        height: 200px;
        width: 200px;
        opacity: 0;
        position: absolute;
        top: 1%;
        left: 1%;

    }

    &__textFront{
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Century Gothic';
        font-weight: 100;
        font-size: 0.7rem;
    }


    &__textInside{
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-120%, -120%);
        font-family: 'Century Gothic';
        font-weight: 400;
        font-size:0.8rem;
        opacity: 1;
        z-index: 100;
    }
    // &__textInside:hover{
    //     transition: 1s;
    //     opacity: 1;
    //     z-index: 1000;
    // }
    




    &__img {
        width: 15rem;
        height:15rem;
        object-fit: cover;
        position: relative; 
        opacity: 0.8;  
        filter: grayscale(100%);
    }
    // &__img:hover {
    //     filter: grayscale(0);
    // }

    &__imgLarge {
        width: 20rem;
        height:20rem;
        object-fit: cover;
        
    }
}

.card__img:hover {
    filter: grayscale(0);
    // opacity: 1 !important;
    // transition: .7s;
    
}

.cardLarge{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid rgb(255, 255, 255);
    &__headerLarge {
        height: 20rem;
        width: 30rem;
        // background-color: orange;
        overflow: hidden;
 
    }

}

.lightboxContainer{
    padding-top: 80px;
}

.obrasImage{
    width: 30rem;
    height:25rem;
    object-fit: cover;
}

.container{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    // margin: 100px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.container img{
    width: 100%;
    height: 100%;
}

img, .contenido{
    height: 100%;
    width: 100%;
}
.hide{
    display: none;
}

.show{
    display: block;
}

.contenedor{
    width: 40%;
    height: 40%;
}

